{% extends "base.html" %}

{% block body %}
<div id="homepage-address">
	<h1>I live at...</h1>

	<input id="address" class="form-control" type="text"
		name="address"
		placeholder="415 N. Main St., Hannibal, Missouri">

	<a id="use-my-address" href="#" onclick="return false;">I&rsquo;m at home, use my <span class="phone">phone&rsquo;s</span> location</a>
</div>

<div id="homepage-district" style="display: none;">
	<h1>I live in <span class="state"></span>&rsquo;s <span class="district"></span> Congressional District.</h1>

	<p>Based on: <span class="address"></span>
	<br>
		<a href="#" onclick="reset_address(); return false;">Change</a>
		| <a id="district-link" href="#">See on a Map</a>
	</p>
</div>

<div id="homepage-topic">
	<h1>I want to phone Congress about {{title}}...</h1>

	<select id="topic" class="form-control" data-topic-root="{{campaign_key}}">
		<option value="">(Select Topic)</option>
		{% for campaign in campaigns %}
			<option value="{{campaign.id}}">{{campaign.title}}</option>
		{% endfor %}
	</select>

	<button id="topic-go" class="btn btn-success" style="display: block; margin-top: 5px;">Get Instructions &raquo;</button>
</div>

<div id="homepage-action" style="display: none">
	<div class="body">
	</div>
	<div style="margin: 1em 0; text-align: right;">
		<button id="i-did-it" class="btn btn-success">I Did It!</button>
		<button id="i-didnt-do-it" class="btn btn-default">I&rsquo;ll Do It Later</button>
	</div>
</div>


{% endblock %}